%h2 Some Stuff About Me
%p This is some stuff you might be looking for when you go to a person's website.
%ul
  %li
    %span= image_tag("/broken.png", class: "icon")
    %span= link_to "Comics I've made", comics_path
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://github.com/chrisccerami"} Code I've written
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://api.nasa.gov/api.html#MarsPhotos"} The NASA Mars rover photos API I maintain
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://twitter.com/chrisccerami"} Twitter
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "mailto:chrisccerami@gmail.com"} Also you can email me if you want

%h2 Some Stuff I Like
%p Here are links to some other stuff online that I think is cool but has nothing to do with me.
%ul
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://www.patatap.com/"} Patatap is a music toy that I just think is neat
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://www.giantbomb.com/"} GiantBomb: It's a website about video games
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://www.youtube.com/channel/UCg3qsVzHeUt5_cPpcRtoaJQ"} This DIY YouTube channel that's mostly making knives out of weird materials is pretty cool
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://www.youtube.com/channel/UC7-E5xhZBZdW-8d7V80mzfg"} Jenny Nicholson talks on YouTube about Star Wars, theme parks, and even Star Wars theme parks
  %li
    %span= image_tag("/broken.png", class: "icon")
    %a{href: "https://www.omocat-shop.com/"} OMOCAT sells super cute clothes and "is an artist-owned creative company that specializes in original apparel and merchandise"
