%h2 Some Stuff About Me
%p This is some stuff you might be looking for when you go to a person's website.
%ul
  %li
    %span= image_tag("https://angelfire.com/images/comics.png")
    %span= link_to "Comics I've made", comics_path
  %li
    %span= image_tag("https://angelfire.com/images/code.png")
    %a{href: "https://github.com/chrisccerami"} Code I've written
  %li
    %span= image_tag("https://angelfire.com/images/rovers.png")
    %a{href: "https://api.nasa.gov/api.html#MarsPhotos"} The NASA Mars rover photos API I maintain
  %li
    %span= image_tag("https://angelfire.com/images/twitter.png")
    %a{href: "https://twitter.com/chrisccerami"} Twitter
  %li
    %span= image_tag("https://angelfire.com/images/email.png")
    %a{href: "mailto:chrisccerami@gmail.com"} Also you can email me (if you want to)

%h2 Some Stuff I Like
%p I realized recently that I really miss the days when it was common for websites to just have a whole boatload of links to other sites that the maintainer recommended. It was a cool way to discover new things and find new stuff that was curated by someone you already knew you liked. So anyway, here's some stuff online that I'm into.
%ul
  %li
    %span= image_tag("https://angelfire.com/images/patatap.png")
    %a{href: "https://www.patatap.com/"} Patatap is a music toy that I just think is neat
  %li
    %span= image_tag("https://angelfire.com/images/giantbomb.png")
    %a{href: "https://www.giantbomb.com/"} GiantBomb: It's a website about video games
  %li
    %span= image_tag("https://angelfire.com/images/knives.png")
    %a{href: "https://www.youtube.com/channel/UCg3qsVzHeUt5_cPpcRtoaJQ"} This DIY YouTube channel that's mostly making knives out of weird materials is pretty cool
  %li
    %span= image_tag("https://angelfire.com/images/jenny.png")
    %a{href: "https://www.youtube.com/channel/UC7-E5xhZBZdW-8d7V80mzfg"} Jenny Nicholson talks on YouTube about Star Wars, theme parks, and even Star Wars theme parks
  %li
    %span= image_tag("https://angelfire.com/images/omocat.png")
    %a{href: "https://www.omocat-shop.com/"} OMOCAT sells super cute clothes and "is an artist-owned creative company that specializes in original apparel and merchandise"
